body{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
main {
  font-family: 'arial narrow';
  font-weight: 300;
  font-size: 20px;
  color: #fff;
}
a{
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
a:hover{
  text-decoration: none;
}
.bannerImage{
  height: 600px;
  width: 100%;
  object-fit: scale-down;
  /*background-image: url('public/images/macbookdesk.jpg');*/
  background-position-y: 900px;
  background-image: url('public/images/cvbanner.png');
  z-index: 1;
  /*-webkit-clip-path: polygon(0 0, 1600px 13%, 1600px 87%, 0 100%);*/
}
.image img{
  margin: 105px 0 0 20%;
  border-radius: 50%;
  position: absolute;
  z-index: 20;
}
.name{
  height: auto;
  width: 500px;
  position: absolute;
  border: 3px solid #fff;
  margin: 150px 0 0 33%;
  border-radius: 2%;
  transform-origin: left;
  transform: skewX(-5deg);
  text-align: right;
  padding-right: 7vw;
  background-color: #000;
  opacity: 0.7;
}
.navbar{
  display: flex;
  padding: 20px 33vw 20px 33vw;
  background-color: #95A5A6;
  border-top: 3px solid #6C7A89;
  align-items: center;
}
.navButton{
  margin-right: 50px;
}
