body{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
main {
  font-family: arial;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  color: white;
}
a{
  text-decoration: none;
}
.bannerImage{
  height: 500px;
  width: 100%;
  object-fit: scale-down;
  background-image: url('public/images/macbookdesk.jpg');
  /*-webkit-clip-path: polygon(0 0, 1600px 13%, 1600px 87%, 0 100%);*/
}
.name{
  height: 150px;
  width: 500px;
  position: absolute;
  border: 3px solid white;
  border-right: 15px solid white;
  margin: 0 33vw 0 33vw;
  transform-origin: left;
  transform: skewX(-15deg);
  background-color: #FDE3A7;
  opacity: 0.7;
  z-index: 1
}
.nameText{
  z-index: 50;
}
.navbar{
  display: flex;
  padding: 20px 33vw 20px 33vw;
  background-color: #95A5A6;
  border-top: 3px solid #6C7A89;
  align-items: center;
}
.navButton{
  margin-right: 50px;
}
